.container{
    margin: auto;
    max-width: 50vw;
}
.mb3{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.input{
    font-size: 1.5rem;
    border-radius: 5px;
}
.label{
    font-size: large;
    padding: 2px 2px;
}
.btn{
    background: black;
    color: white;
    padding: 6px;
    border: 1px solid;
    border-radius: 9px;
    cursor: pointer;
}